/*footer*/
footer{
    background-color: $fondo-oscuro;
    #menuFooter{
        a{
            font-family: 'Roboto', sans-serif;
            color: white;
            text-decoration: none;
        }
    } 
    .cta-footer {
        background-image: url(../img/ctaFooter.jpg);
        background-size: cover;
        height: 350px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;  
            h2{
                color: white;
                padding: 25px;
                text-align: center;
                font-size: 40px;
                font-weight: 500;
            }
        }
    }
    .container{
        nav{
            ul{
                padding-left:0;
                li{
                    list-style: none;
                    a{
                        color: white;
                    }
                }
            }
        }
        .row{
            padding: 3%;
            align-items: center;
            justify-content: center;
            .iconos-redes{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 50%;
                padding: 20px 0 20px 0;
                .cont-iconos{
                    width: 20%;
                    padding: 0 2px;
                    img{
                        height: auto;
                        width: 50%;
                    }
                }
            }
            .form-label{
                color: white;
            }
            .form-control{
                border-radius: 40px;
                border-color: none;
                background-color: #F2E8D5;
                margin: 5px 0 20px 0;
            }
        }
    }    
        
    
    
}