/*Galeria de fotos*/
.container-img{
    width: 80%;
    max-width: 1400px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    .caja-img{
        figure{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &:hover{
            box-shadow: map-get($hoversCards, sombraCards );
            transform: map-get($hoversCards, transformCards );
            transition: map-get($hoversCards, tiempoCards );
            cursor: pointer;
        }
        &:nth-child(1){
            grid-column-start: span 2;
        }
        &:nth-child(4){
            grid-row-start: span 2;
        }
        
    } 
}

/*Galeria de videos - Página de Comidas*/

.grid-vidcontainer{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row;
    .video{
        width: 50%;
        padding: 10px;    
    }
    .video-large{
        width: 100%;
    }
}

