@import 'variables';
@import 'header';
@import 'banners';
@import 'ctas';
@import 'footer';
@import 'contacto';
@import 'galerias';
@import 'botones';
@import 'cards';
@import 'queries';


/*estilos generales*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}